.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc
.env

# keep raw data local if too large
# data/raw/data/raw/*.csv
data/raw/*.zip
data/raw/*.parquet
data/raw/*.csv
data/raw/*.zip
data/raw/*.parquet
data/raw/*.csv
